<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{title}}</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/all.min.css" rel="stylesheet" type="text/css">
	
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="/global_assets/js/main/jquery.min.js"></script>
	<script src="/global_assets/js/main/bootstrap.bundle.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="/global_assets/js/plugins/visualization/echarts/echarts.min.js"></script>
	<script src="/global_assets/js/plugins/maps/echarts/world.js"></script>

	<script src="/assets/js/app.js"></script>
	<script src="/global_assets/js/demo_charts/pages/dashboard_6/dark/area_gradient.js"></script>
	<script src="/global_assets/js/demo_charts/pages/dashboard_6/dark/map_europe_effect.js"></script>
	<script src="global_assets/js/demo_charts/pages/dashboard_6/dark/progress_sortable.js"></script>
	<script src="global_assets/js/demo_charts/pages/dashboard_6/dark/bars_grouped.js"></script>
	<script src="/global_assets/js/demo_charts/pages/dashboard_6/dark/line_label_marks.js"></script>
	<!-- /theme JS files -->

</head>
<body>
    <!-- Nav bar -->
    <div class="navbar navbar-expand-xl navbar-light navbar-static px-0">

		<div class="d-flex w-100 w-xl-auto overflow-auto overflow-xl-visible scrollbar-hidden border-top border-top-light-100 border-top-xl-0 order-1 order-xl-0">
			<ul class="navbar-nav navbar-nav-underline flex-row text-nowrap mx-auto">
				<li class="nav-item">
					<a href="/SetUp" class="navbar-nav-link active">
						<i class="icon-person mr-2"></i>
						Setup
					</a>
				</li>

				<li class="nav-item">
					<a href="/Product" class="navbar-nav-link">
						<i class="icon-person mr-2"></i>
						Product
					</a>
				</li>

				<li class="nav-item">
					<a href="" class="navbar-nav-link">
						<i class="icon-person mr-2"></i>
						Store
					</a>
				</li>

				<li class="">
					<a href="" class="navbar-nav-link">
						<i class="icon-person mr-2"></i>
						Stock
					</a>
				</li>

			</ul>
		</div>

	</div>
    <!-- / Nav Bar -->